.title {
    color:rgb(188, 29, 29);
    margin-left:40px;
}

#var{
    width:100%;
    position:fixed;top:0%;
    z-index: 2;
}

#myCarousel{
    margin-top: 103px;
}

.carousel {
    margin-right: 20px;
    margin-left: 20px;
}

.itemdisplay{
    text-align: center;
    margin-top: 40px;
}

.itemimg {
    width: 180px;
    height: auto;;
}

.second {
    margin-top: 103px;
    padding-top: 10px;
}

#newuser{
    width:60%;
    margin-left: auto; margin-right: auto;
    margin-top: 50px;;
}

.txtBox {
    margin-bottom: 20px;;
}

/* ↓🌻yui 追加 */
.tp{
    color:rgb(188, 29, 29);
}
 
/* 画像の下に文字-------------------------------- */
.container{
    position: relative;
}

.img-h1{
    position: absolute;
    top: 400px;
    right: px;
    left: 180px;
    font-size:35px;
    color:rgba(123, 31, 6, 0.463);
    padding:0;
    margin:0;
    animation: img-h1 2.0s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
  
  @keyframes img-h1 {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }



.imgs{
    animation: imgs 7.2s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
    
}
@keyframes imgs{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ---------------------------------- */


/* 文字の下の線がうごくやつ----------------------------------------------------- */
body {
    margin: 0;
    padding: 0;
  }
  

  #container {
    margin: 70px 20px;
  }
  
  .border{
    position: relative;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    color:rgb(188, 29, 29);
  }
  
  .border:before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    border-bottom: solid 2px rgba(102, 12, 12, 0.947);
    transform: translateX(-50%);
    animation: border_anim 4.0s ease-in forwards;
  }
  
  @keyframes border_anim {
    0%{
      width: 0%;
    }
    100%{
      width: 100%;
    }
  }
/* ----------------------------------- */

.comp{
  margin-top: 150px;
  text-align: center;
}