.title {
    color:red;
    margin-left:40px;
}

#var{
    width:100%;
    position:fixed;top:0%;
    z-index: 2;
}

#myCarousel{
    margin-top: 103px;
}

.carousel {
    margin-right: 20px;
    margin-left: 20px;
}

.itemdisplay{
    text-align: center;
    margin-top: 40px;
}

.itemimg {
    width: 180px;
    height: auto;;
}